page-create-password {

    .header-label{
        color: #0472cb;
        padding: 10px 10%;
        text-align: center;
    }
    .passcode {}
    .ILS_numbers-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100px;
    }
    .ILS_circles-row {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 60px;
    }
    .ILS_circle {
        background-color: transparent !important;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border:  1px solid #0aefcd;
        margin: 0 15px;
    }
    .ILS_full {
        background-color: #0aefcd!important;
    }
    .ILS_digit {
        margin: 0 14px;
        width: 80px;
        text-align: center;
        color: #2a73e2;
        font-size: 50px;
    }
    .ILS_digit.activated {
        -webkit-animation-name: ILS_buttonPress;
        animation-name: ILS_buttonPress;
        -webkit-animation-duration: 0.3;
        animation-duration: 0.3s;
    }

    .testbg{
        /*background: #fff url("../assets/img/6_Password.png") center -30px;*/
    }
}