page-personal-detail-key {
  .photo-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
      display: flex;
      background-color: #d8d8d8;
      border-radius: 50%;
      height: 75px;
      width: 75px;
      align-items: center;
      justify-content: center;
      position: relative;
      ion-icon.photo {
        font-size: 2.5em;
      }
      .camera-btn {
        position: absolute;
        right: 2px;
        bottom: 10px;
        background: transparent;

        ion-icon.camera {
          font-size: 1em;
          color: #0472cb;
        }
      }
    }
  }

  .input-row {
    margin-top: 50px;
    background-color: transparent !important;
    input.name {
      border: none;
      border-bottom: 1px solid #d8d8d8;
      width: 100%;
      font-size: 1.3em;
    }
  }

  .item{
    background-color: transparent !important;
  }

  .button-row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
