page-passcode-login {
  ion-header ion-row{background: #f8f8f8;}
  .photo-row {
    display: flex;
    margin-bottom: -37px;
    z-index: 100000;
    width: 100%;

    .circle {
      border: 3px solid #0aefcd;
      display: flex;
      background-color: #d8d8d8;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      align-items: center;
      justify-content: center;
      position: relative;
      img{
      width: 75px;
      height: 75px;
      border-radius: 50px;
      max-width: 200%;
      }
      ion-icon.photo {
        font-size: 2.5em;
      }
      .camera-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        background: transparent;

        ion-icon.camera {
          font-size: 1em;
          color: #0472cb;
        }
      }
    }
  }
  .toolbar-background{
   width: 98%;
   left: 1%;
  }
  ion-navbar{
    background-color: color($colors,primary,base);
  }
}
