page-select-key {
  #map_canvas{
    height: 80%;
    width: 100%;
    position: relative;
  }
  .custom-overlay{
    position: absolute;
    padding-top: 100px;
    text-align: center;
    background-color: red;
  }
  .loading-wrapper {
    border-radius: 2px;
    max-width: 280px;
    max-height: 90%;
    color: rgba(0, 0, 0, 0.5);
    background: red;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    padding: 24px;
  }
  .my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(45, 99, 146, 0.7);
    z-index: 20;
    top: 0;
    left: 0;
  }
  .my-overlay img{
    padding-top: 50%;
    display: block;
    margin: 0 auto;
  }

  .info-wrapper ion-row{
    width: 100%;
    display: inline-flex;
  }
  .info-wrapper img{
    margin: 5px;
    border-radius: 40px;
    width:45px;
  }
  .text-wrapper{
    padding:5px;
    margin-left: 5px;
  }
  .text-wrapper h6,p{
    margin: 2px;
    color: #000000;
  }
  .btn-wrapper h6{
    padding: 5px;
    margin: auto;
    color: #ffffff;
  }
  .btn-wrapper{
    margin: auto;
  }
  .back-icon-size{
    padding-left: 15px;
  }
  .scroll-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .header-label{
    margin-top: -26px;
    padding-bottom: 0;
  }
  ion-footer{
    bottom: 20px;
  }
}
