page-key-request-confirm {

  .header-label{
    margin-top: -26px;
    padding-bottom: 0;
  }
  .back-icon-size{
    padding-left: 15px;
  }
  .scroll-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  ion-card{
    margin: 0 !important;
    width:100% !important;

  }
  ion-card-content{
    margin-top: 40px;
  }
  ion-card-content p{
    font-size: 20px !important;
    margin-top: 20px;
  }
}
