page-key-profile {
  .photo-row {
    width: 100%;
    padding: 20px;
    .circle {
      margin: auto;
      border: 3px solid color($colors, secondary, base);
      display: flex;
      background-color: #d8d8d8;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      align-items: center;
      justify-content: center;
      position: relative;
      ion-icon.photo {
        font-size: 8.5em;
      }
    }
  }
  .center-btn-set{
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }
  .header-label{
    margin-top: -26px;
    padding-bottom: 0;
  }
  .back-icon-size{
    padding-left: 15px;
  }
  .scroll-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  h2{
    color:#000000 !important;
  }
  .title{
    font-weight: 500;
    font-size: 20px;
  }
  .back-icon-size{
    padding-left: 15px;
  }
  ion-card{
    margin: 0 !important;
    width:100% !important;
    margin-top:20px !important;
    padding-bottom: 20px !important;
  }

  ul {
    display: inline-block;
    padding: 0px;

    &.rating li {
      padding: 0 !important;
      background: none;
      color:color($colors, primary, base);

      ion-icon {
        font-size: 30px;
      }
    }
  }
  .card-content-ios{
     padding: 30px 35px 14px;
  }
  .address-text{
    padding-top: 10px;
    color: color($colors,secondary,base);
    font-size: 18px !important;
  }
  .rate-text{
    font-size: 18px;
  }
}
