// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @import "assets/intl-tel-input.css";
ion-content{
  background-color: #F0F0F0 !important;
}
.primary-text-color{
  color: color($colors, primary, base);
}
.primary-bg-color{
  background-color: color($colors, primary, base)
}
.blue-background{
  background-color: color($colors, secondary, base);
}
.white-text-color{
  color:#ffffff;
}
.back-icon-size{
  font-size: 1.8em;
}
.amount-text{
  font-size: 3em;
  margin: 0;
  color: color($colors, primary, base);
}
.circle img{
  border-radius: 40px;
}
.round-btn-with-text{
  display: inline;
  width: 38px;
  margin: auto;
}
.btn-with-side-bar {
  padding: 0 !important;
  margin: 0 2% 0 2% !important;
  width: 96%;

}
.ILS_numbers-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60px;
}
.ILS_circles-row {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.ILS_circle {
  background-color: transparent !important;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border:  1px solid #0aefcd;
  margin: 0 15px;
}
.ILS_full {
  background-color: #0aefcd!important;
}
.ILS_digit {
  margin: 0 14px;
  width: 80px;
  text-align: center;
  color: #2a73e2;
  font-size: 40px;
}
.ILS_digit.activated {
  -webkit-animation-name: ILS_buttonPress;
  animation-name: ILS_buttonPress;
  -webkit-animation-duration: 0.3;
  animation-duration: 0.3s;
}
