page-enter-amount {
  .right-select-set{
    flex: 1;
    flex-direction: row-reverse;
    background-color: transparent;
  }
  .enter-amount-text{
    color: color($colors, primary, base);
    font-size: 44px;
    font-weight: 400;
  }
  .custom-card{
    width:100%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  .header-label{
    margin-top: -26px;
    padding-bottom: 0;
  }
  .back-icon-size{
    padding-left: 15px;
  }
  .scroll-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .custom-place{
    display: inline-block;
    width: 100%;
  }
  .your-balance-text{
    font-weight: 800;
  }
}
