page-enter-otp {
    .header-label {
        padding: 80px 10% 0 10%;
        text-align: center;
    }
    .dash-row{
        width: 300px;
        overflow: hidden;
    }
    $char-w: 1ch;
    $gap: .5*$char-w;
    $n-char: 6;
    $in-w: $n-char*($char-w + $gap);

    input {
      display: block;
      margin: 1em auto;
      border: none;
      padding: 5px;
      width: 9.4ch;
      background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 5px 100%/8.5ch 2px no-repeat;
      font: 5ch droid sans mono, consolas, monospace;
      letter-spacing: 0.5ch;
    }

}
